.appbar {
  height: 64px; 
  background: #f7f0dc;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 24px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  
}

.left {
  display: flex;
  align-items: center;
}

.left h2 {
  font-size: 18px;
  font-weight: 700;
  color: #0F172A;
  letter-spacing: -0.01em;
  margin: 0;
  padding-right: 16px;
  position: relative;
}

/* vertical line */
.left h2::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  height: 24px;                 
  width: 3px;
  background: #585f04;           
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  padding: 8px 14px;
  border-radius: 10px; 
  border: 1px solid transparent; 
  background: #F1F5F9; 
  outline: none;
  width: 250px;
  transition: all 0.3s ease;
  color: #475569;
}

.search:focus {
  background: #FFFFFF;
  border-color: #406b5d;
  box-shadow: 0 0 0 4px rgba(16, 185, 129, 0.1);
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #334155; 
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.profile:hover {
  background: #1E293B;
}

.profile-text {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}

.icon {
  font-size: 20px;
  color: #867b07; 
  cursor: pointer;
  transition: 0.3s ease;
}

.icon:hover {
  color: #485b55; 
  transform: translateY(-2px); 
}

