.overlay {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: calc(100vh - 65px);
  background: rgba(0, 0, 0, 0.3);
  z-index: 2000;

  display: flex;
  justify-content: flex-end;
}

.panel {
  width: 320px;
  height: 100%;
  background: white;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative; 

  transform: translateX(100%);
  animation: slideIn 0.3s forwards ease;
}

/* top space */
.topSpace {
  width: 100%;
  height: 100px; /* increase for better spacing */
}

/* row layout */
.userRow {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
}

/* remove absolute positioning */
.avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #4f452b;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}

/* text side */
.userInfo {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0;
  font-weight: 600;
}

.email {
  margin: 0;
  font-size: 12px;
  color: #6b7280;
}


.thickDivider {
  width: 100%;
  height: 4px;   
  background: #e5e7eb; 
  margin-bottom: 20px;
}


.cardContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

/* square cards */
.card {
  flex: 1;
  aspect-ratio: 1 / 1; 
  background: #f7f0dc;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
}

/* hover effect */
.card:hover {
  background: #d2c886;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

.bottomActions {
  margin-top: auto;
  width: 100%;
  padding-bottom: 10px;
}


.createBtn,
.logoutBtn {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.createBtn {
  background: #059669;
  color: white;
}

.logoutBtn {
  background: #4f452b;
  color: white;
}
